* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: consolas;
}

body {
	background-color: #000;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 20px 60px;
	background-color: #fff;
	align-items: center;

	box-shadow: 0;
	transition: box-shadow 2s;
}

header h1 {
	color: #000;
	border-bottom: 3px solid #16b8f3;
}

ul li {
	list-style: none;
}

header:hover {
	box-shadow: 0 5px 100px rgba(22, 183, 242, 0.5);
}

ul li a {
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	color: #000;
	border-bottom: 3px solid #16b8f3;
	transition: 2s;
}

ul li a:hover {
	border-bottom: none;
	background-color: #16b8f3;
	padding: 10px;
	border-radius: 15px;
	box-shadow: -10px -10px rgba(22, 183, 242, 0.3);
}

section {
	position: relative;
	padding: 60px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: default;
}

section h1 {
	font-size: 2.3em;
	margin-bottom: 10px;
	color: white;
}

section p {
	font-size: 1.2em;
	width: 500px;
	height: 300px;
	font-style: italic;
	color: white;
}

section button {
	position: relative;
	padding: 15px 25px;
	margin-top: 20px;
	font-size: 1.1em;
	cursor: pointer;

	outline: none;
	border-radius: 15px;
	background: none;	
	transition: box-shadow 1s;
	color: #202020;
	border: 4px solid #202020;

}

section button:hover {
	border: 4px solid #16b8f3;
	color:  #16b8f3;
	box-shadow: 0 0 35px #16b8f3, 0 0 15px #17c1ff inset;
	text-shadow: 0 0 10px #14a4d9 , 0 0 3px #16b8f3;
	transition: 1s; /* A luz da uma piscadinha, não foi proposital mas eu amei */
}

audio {
	display: none;
}

img {
	height: 95px;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 450px;
	height: 300px;
	box-shadow: 0 25px 50px rgba(22, 183, 242, 0.1),
	0 0 0 1000px rgba(255, 255, 255, 0.95);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	color: #474359;
	visibility: hidden;
}

.popup.active {
	visibility: visible;
}

.aniversarioEm {
	color: #AFA7C1;
	font-style: italic;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 20px;
	background: rgba(255, 0, 0, 0.70);
	color: #fff;
	cursor: pointer; 
}

#my-canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	visibility: hidden;
	pointer-events: none;
}

#my-canvas.active {
	visibility: visible;
}

.texto::after {
	content: '|';
	margin-left: 5px;
	opacity: 1;
	animation: pisca .7s infinite;
}

@keyframes pisca {
	0%, 100% {
		opacity: 1;
	}
	25% {
		opacity: 0.50;
	}
	50% {
		opacity: 0;
	}
}

.countdown {
  display: none;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}